<div class="col s12 m12">
  <div class="card-panel blue">
    <span class="white-text">
        <div class="section col s6 m6">
          <h5>Punyam Patnaik</h5>
          <p>Stuff</p>
        </div>
        <div class="section col s6 m6 right-align">
            <p>Leader Board Rank</p>  
            <h5>#2 / 230</h5>
        </div>
        <div class="divider"></div>
        <div class="section">
          <h5>Section 2</h5>
          <p>Stuff</p>
        </div>
    </span>
  </div>
</div>

<div class="col s12 m12">
    <div class="card-panel blue">
      <div class="row">
        <div class="col s12 m12">Hello</div>
      </div>
      <div class="row">
          <div class="col s12 m12">Hello</div>
        </div>
      <div class="row">
          <table class="bordered">
              <tbody>
                <tr>
                    <td colspan="3">
                        <div class=" orange">
                          Hello
                        </div>
                    </td>
                </tr>
                <tr>
                  <td>
                      <div class="card-panel orange">
                        Hello 1
                      </div>
                  </td>
                  <td>
                    <div class="card-panel orange">
                      Hello 2
                    </div>
                  </td>
                  <td>
                      <div class="card-panel orange">
                          Hello 3
                        </div>
                  </td>
                </tr>
                <tr>
                  <td>Alan</td>
                  <td>Jellybean</td>
                  <td>$3.76</td>
                </tr>
                <tr>
                  <td>Jonathan</td>
                  <td>Lollipop</td>
                  <td>$7.00</td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
  
  <div class="col s12 m12">
    <div class="card panel">
        <div class="row">
            <div class="col m4 yellow">
                <p>Content</p>
            </div>
            <div class="col m4">
                <p>More Content</p>
            </div> 
            <div class="col m4">
                <p>Even More Content</p>
            </div>
            <!-- No more room for content as three m4-sized columns equal 12. 
                 Any additional content should be placed within a new row-->
        </div>
        <div class="row">
            <!--Additional content up to 12 column widths go in here-->
        </div>
    </div>
      
  </div>

  <div class="col s12 m12">
      <div class="card-panel blue">
        <div class="row">
            <div class="col m4 yellow">
                <p>Content</p>
            </div>
            <div class="col m4 yellow">
                <p>More Content</p>
            </div> 
            <div class="col m4 yellow">
                <p>Even More Content</p>
            </div>
            <!-- No more room for content as three m4-sized columns equal 12. 
                 Any additional content should be placed within a new row-->
        </div>
        <div class="row">
            <!--Additional content up to 12 column widths go in here-->
        </div>
      </div>
    </div>
  
  