<div class= "row valign-wrapper" > 
    <div class="col s12 m12">
        <div class="card blue-grey lighten-5">
          <div class="card-content white-text">
              <form action="#">
                  <span class="black-text">Toss Winner</span>
                  <div *ngFor="let team of todaysTeams; let i = index">
                    <input name="grpTossWinner" type="radio" id="fToss{{i+1}}" class="with-gap" value="{{team.teamid}}" (change)="handleEvent($event, 'tossWinnerEvent')"/>
                    <label for="fToss{{i+1}}">{{team.name}}</label>
                  </div>
                </form>
                      
          </div>
        </div>
      </div>
  </div>

  <div class= "row valign-wrapper"> <!-- isDataLoaded function not working -->
      <div class="col s12 m12">
          <div class="card blue-grey lighten-5">
            <div class="card-content">
                <form action="#">
                    <span class="black-text">Highest Scorer</span>
                        <select class="blue-grey-text" id="scorerSelect" 
                        (select)="handleEvent($event.target.value, 'highestScorerEvent')"
                        (change)="handleEvent($event.target.value, 'highestScorerEvent')"
                        (close)="handleEvent($event.target.value, 'highestScorerEvent')"> <!--  browser-default-->
                          <option value="" disabled selected>Choose player</option>
                          <optgroup label="{{todaysTeams[0].name}}">
                              <option *ngFor="let member of todaysTeams[0].squad" value="{{member.pid}}" (click)="handleEvent($event.target.value, 'highestScorerEvent')">{{member.pname}}</option>
                          </optgroup>

                          <optgroup label="{{todaysTeams[1].name}}">
                              <option *ngFor="let member of todaysTeams[1].squad" value="{{member.pid}}">{{member.pname}}</option>
                          </optgroup>
                        </select>
                    </form>
                        
            </div>
          </div>
        </div>
    </div>
    
    <div class= "row valign-wrapper">
        <div class="col s12 m12">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                  <form action="#">
                      <span class="black-text">Highest Wicket Taker</span>
                        <select class="blue-grey-text"> <!--  browser-default-->
                          <option value="" disabled selected>Choose player</option>
                          <optgroup label="{{todaysTeams[0].name}}">
                              <option *ngFor="let member of todaysTeams[0].squad" value="{{member.pid}}">{{member.pname}}</option>
                          </optgroup>

                          <optgroup label="{{todaysTeams[1].name}}">
                              <option *ngFor="let member of todaysTeams[1].squad" value="{{member.pid}}">{{member.pname}}</option>
                          </optgroup>
                        </select>
                      </form>
                          
              </div>
            </div>
          </div>
      </div>

      <div class= "row valign-wrapper">
          <div class="col s12 m12">
              <div class="card blue-grey lighten-5">
                <div class="card-content white-text">
                    <form action="#">
                        <span class="black-text">Man of the Match</span>
                          <select class="blue-grey-text"> <!--  browser-default-->
                            <option value="" disabled selected>Choose player</option>
                            <optgroup label="{{todaysTeams[0].name}}">
                                <option *ngFor="let member of todaysTeams[0].squad" value="{{member.pid}}">{{member.pname}}</option>
                            </optgroup>

                            <optgroup label="{{todaysTeams[1].name}}">
                                <option *ngFor="let member of todaysTeams[1].squad" value="{{member.pid}}">{{member.pname}}</option>
                            </optgroup>
                          </select>
                        </form>
                            
                </div>
              </div>
            </div>
        </div>
    
        <div class= "row valign-wrapper">
            <div class="col s12 m12">
                <div class="card blue-grey lighten-5">
                  <div class="card-content white-text">
                      <form action="#">
                          <span class="black-text">Match Winner</span>
                          <div *ngFor="let team of todaysTeams; let i = index">
                              <input name="grpMatchWinner" type="radio" id="fMatch{{i+1}}" class="with-gap"/>
                              <label for="fMatch{{i+1}}">{{team.name}}</label>
                            </div>
                        </form>
                              
                  </div>
                </div>
              </div>
          </div>

          <div class= "row valign-wrapper">
              <div class="col s12 m12">
                  <div class="card blue-grey lighten-5">
                    <div class="card-content white-text">
                        <form action="#">
                            <span class="black-text">First Innings Score</span>
                            <input placeholder="Enter score" id="first_name" type="number" class="validate black-text">
                          </form>
                             
                          <p class="range-field">
                              <input type="range" id="test5" min="0" max="100" value="25" (change)="updateRange($event)"/>
                          </p>
                    </div>
                  </div>
                </div>
            </div>

            