<div class= "row valign-wrapper">
    <div class="col s12 m12">
        <div class="card blue-grey lighten-5">
          <div class="card-content white-text">
              <form action="#">
                  <span class="black-text">Toss Winner</span>
                  <p>
                    <input name="group1" type="radio" id="test1" class="with-gap"/>
                    <label for="test1">Royal Challengers Bangalore</label>
                  </p>
                  <p>
                    <input name="group1" type="radio" id="test2" class="with-gap"/>
                    <label for="test2">Chennai Super Kings</label>
                  </p>
                </form>
                      
          </div>
        </div>
      </div>
  </div>

  <div class= "row valign-wrapper">
      <div class="col s12 m12">
          <div class="card blue-grey lighten-5">
            <div class="card-content">
                <form action="#">
                    <span class="black-text">Highest Scorer</span>
                        <select class="blue-grey-text">
                          <option value="" disabled selected>Choose player</option>
                          <optgroup label="team 1">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                          </optgroup>
                          <optgroup label="team 2">
                            <option value="3">Option 3</option>
                            <option value="4">Option 4</option>
                          </optgroup>
                        </select>
                    </form>
                        
            </div>
          </div>
        </div>
    </div>

    <div class= "row valign-wrapper">
        <div class="col s12 m12">
            <div class="card blue-grey lighten-5">
              <div class="card-content">
                  <form action="#">
                      <span class="black-text">Highest Wicket Taker</span>
                          <select>
                            <option value="" disabled selected>Choose player</option>
                            <optgroup label="team 1">
                              <option value="1">Option 1</option>
                              <option value="2">Option 2</option>
                            </optgroup>
                            <optgroup label="team 2">
                              <option value="3">Option 3</option>
                              <option value="4">Option 4</option>
                            </optgroup>
                          </select>
                      </form>
                          
              </div>
            </div>
          </div>
      </div>

      <div class= "row valign-wrapper">
          <div class="col s12 m12">
              <div class="card blue-grey lighten-5">
                <div class="card-content white-text">
                    <form action="#">
                        <span class="black-text">Man of the Match</span>
                            <select>
                              <option value="" disabled selected>Choose player</option>
                              <optgroup label="team 1">
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                              </optgroup>
                              <optgroup label="team 2">
                                <option value="3">Option 3</option>
                                <option value="4">Option 4</option>
                              </optgroup>
                            </select>
                        </form>
                            
                </div>
              </div>
            </div>
        </div>
    
        <div class= "row valign-wrapper">
            <div class="col s12 m12">
                <div class="card blue-grey lighten-5">
                  <div class="card-content white-text">
                      <form action="#">
                          <span class="black-text">Match Winner</span>
                          <p>
                            <input name="group2" type="radio" id="test3" class="with-gap"/>
                            <label for="test3">Royal Challengers Bangalore</label>
                          </p>
                          <p>
                            <input name="group2" type="radio" id="test4" class="with-gap"/>
                            <label for="test4">Chennai Super Kings</label>
                          </p>
                        </form>
                              
                  </div>
                </div>
              </div>
          </div>

          <div class= "row valign-wrapper">
              <div class="col s12 m12">
                  <div class="card blue-grey lighten-5">
                    <div class="card-content white-text">
                        <form action="#">
                            <span class="black-text">First Innings Score</span>
                            <input placeholder="Enter score" id="first_name" type="number" class="validate black-text">
                          </form>
                             
                          <p class="range-field">
                              <input type="range" id="test5" min="0" max="100" value="25" (change)="updateRange($event)"/>
                          </p>
                    </div>
                  </div>
                </div>
            </div>